
d5_bonk.ipynb
.ipynb_checkpoints/d7-checkpoint.ipynb
.ipynb_checkpoints/d6-checkpoint.ipynb
.ipynb_checkpoints/d5_bonk-checkpoint.ipynb
.ipynb_checkpoints/d5-checkpoint.ipynb
.ipynb_checkpoints/d4-checkpoint.ipynb
.ipynb_checkpoints/d3-checkpoint.ipynb
